<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pixel Battle</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style_change_password.css') }}">
  <script src="https://kit.fontawesome.com/d374ec7636.js" crossorigin="anonymous"></script>
</head>

<body>
  {% if change_password %}
    <div class="error-message">
        <span class="fa-stack fa-lg">
            <i class="fas fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
        </span>
        {{ change_password }}
        </div>
    {% endif %}
  <div class="container">
    <form action="" class="form" method="POST">
      <h2>Reset Password</h2>
      <h3>You can reset your password here.</h3>
      <div class="icons">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <input type="email" name="email" class="box" placeholder="Email" required="required">
      <div class="icons">
        <i class="fa-solid fa-lock"></i>
      </div>
      <input type="password" name="password" class="box" placeholder="New password" required="required">
      <div class="icons">
        <i class="fa-solid fa-lock"></i>
      </div>
      <input type="password" name="confirmpassword" class="box" placeholder="Confirm password" required="required">
      <input type="submit" value="Reset password" id="submit">
    </form>
  </div>
</body>

</html>