<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Pixel Battle</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style_reset_pasw.css') }}">
  <script src="https://kit.fontawesome.com/d374ec7636.js" crossorigin="anonymous"></script>
</head>

<body>
  {% if sent %}
  <div class="sent-message">
    <span class="fa-stack fa-lg">
      <i class="fas fa-paper-plane  fa-stack-1x fa-inverse"></i>
    </span>
    Email has been sent. If you did not receive the email, please check the email provided.
  </div>
  {% endif %}
  <div class="container">
    <form action="/reset_password" class="form" method='POST'>
      <h2>Resetting password</h2>
      <h3>Enter your email to reset password<br></br>The message will be sent</h3>
      <div class="icons">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <input type="email" name="email" class="box" placeholder="Email" required="required">
      <input type="submit" value="Send" id="submit">
    </form>
  </div>
</body>

</html>