@import url("//fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
.success-message {
    color: #006600;
    background-color: #b3ffb3;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
  
  .success-message .fa-stack {
    position: relative;
}
  
  .success-message .fa-check {
    color: #006600;
    font-size: 1.4rem;
}
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error-message .fa-stack {
    position: relative;
}

.error-message .fa-exclamation-triangle {
    color: #721c24;
    font-size: 1.4rem;
    
}
.main {
    position: relative;
    left: 30px;
    top: 30px;
}

.main_page_buuton {
    text-decoration: none;
    font-weight: 1000;
    color: white;
    font-size: 20px;
    -webkit-text-stroke: 2.5px black;
    padding: 0.5rem 0.5rem;
    background-color: white;
    display: flex;
}

.main_page_buuton:hover {
    background: dodgerblue;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DBD4D4;
    border-radius: 1rem;
    margin: auto;
    width: clamp(400px, 50%, 800px);
    margin-top: 60px;
    box-sizing: border-box;
    font-family: Sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.form h2 {
    color: #000000;
    padding: 0.5rem;
    background-color: #90bcff;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    border-radius: 1rem;
    width: 100%;
}

.icons {
    position: relative;
    left: 19%;
    top: 48px;
    font-size: 22px;
}

.box {
    padding: 12px;
    width: 350px;
    margin: 0;
    letter-spacing: 0.1em;
    float: right;
    border: 2px solid #2196F3;
}

.box:focus {
    outline: none;
    border: 2px solid #2196F3;
    box-shadow: 0 0 10px #2196F3;
}

#submit {
    font-size: 18px;
    padding: 13px 30px;
    width: 40%;
    margin-top: 25px;
    background-color: white;
    color: dodgerblue;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover {
    background: #2196F3;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px dodgerblue;
}

.form p {
    padding: 20px;
}

.reg {
    padding: 2px;
}

.reset_password {
    position: relative;
    bottom: 15px;
}

.form a {
    text-decoration: none;
    color: blue;
}

.form a:hover {
    color: #2196F3;
}